$container-width: 1140px;
$menu-min-height: 100px;
$home__btn_down-color: 1px solid #fff;
//Размер кнопки
$home__btn_down-block-size: 50px;
@mixin home__btn_down-style($block-size) {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  width: $block-size;
  height: $block-size;
}

//worksans
@font-face {
  font-family: "worksans";
  src: url("../fonts/worksansmedium.woff2"),
  url("../fonts/worksansmedium.woff"),
  url("../fonts/worksansmedium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "worksans";
  src: url("../fonts/worksansbold.woff2"),
  url("../fonts/worksansbold.woff"),
  url("../fonts/worksansbold.ttf");
  font-weight: 700;
  font-style: normal;
}

//playfairdisplay
@font-face {
  font-family: "playfairdisplay";
  src: url("../fonts/playfairdisplaybold.woff2"),
  url("../fonts/playfairdisplaybold.woff"),
  url("../fonts/playfairdisplaybold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "playfairdisplay";
  src: url("../fonts/playfairdisplayitalic.woff2"),
  url("../fonts/playfairdisplayitalic.woff"),
  url("../fonts/playfairdisplayitalic.ttf");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "worksans", sans-serif;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.header-desk {
  min-height: $menu-min-height;
  width: 100%;
  position: fixed;
  z-index: 50;
}

.header-desk__container {
  display: flex;
  min-height: $menu-min-height;
  align-items: center;
  justify-content: space-between;
}

.header-desk__logo {
  display: block;
}

.logo__text {
  display: none;
}

.header-desk__navigate {
  min-width: 380px;
  display: flex;
  justify-content: space-between;

}

.header-desk__navigate__item {
  color: #bfbfbf;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .82rem;
  padding: 6px 14.6px;
  transition: color .3s;
  font-weight: 500;
}

.header-desk__navigate__item:hover {
  color: #fff;
}

.home-section {
  padding-top: 250px;
  height: 100vh;
  width: 99vmax;
  position: relative;
  z-index: 0;
  box-sizing: border-box;

}

.home-section__home-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../images/home-7.jpg") no-repeat 50% 58%;
  background-size: cover;
  z-index: -1;
  filter: brightness(40%);
}

.home__subtitle {
  color: #fff;
  font-size: .85rem;
  letter-spacing: .2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.home__title {
  color: #fff;
  text-align: center;
  font-family: "playfairdisplay", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.18;
}

.home__title-decorate {
  display: block;
  font-weight: 400;
  font-style: italic;
}

.home__btn {
  display: flex;
  margin: 50px auto 0;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 53px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #252525;
  font-family: inherit;
  font-size: .96rem;
  font-weight: 500;
  transition: background-color .3s;
}
.home__btn:hover{
  background-color: #444;
}

.home__btn_down {
  @include home__btn_down-style($home__btn_down-block-size);
  bottom: 65px;
  border: $home__btn_down-color;
  border-radius: 50%;
  opacity: .6;
  transition: opacity .5s;
}

.home__btn_down:after {
  @include home__btn_down-style($home__btn_down-block-size/6.25);
  content: '';
  bottom: 0;
  top: 0;
  transform: rotate(45deg);
  border-right: $home__btn_down-color;
  border-bottom: $home__btn_down-color;
}

.home__btn_down:hover {
  opacity: 1;
}

.aboute {
  min-height: 150px;
}

.block-show {
  display: block;
}